body
{
    padding: 10px;
    margin: 40px;
    font-size: 24px;
    font-family: helvetica;
    background-image: url(https://images2.alphacoders.com/252/2520.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: rgb(234, 237, 243);


}

